__pycache__/
*.py[cod]

venv/
env/
.venv/
.env/

*.sqlite3
db.sqlite3

*.log
*.pot
*.pyc
*.pyo
*.pyd

/static/
media/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.DS_Store
*.coverage
*.egg-info/
dist/
build/
*.egg
*.whl

.cache/
